# This file is used to specify which Locket user IDs you want to receive notifications for.
# Add one user ID per line.
# If this file is empty or does not exist, you will receive notifications for all users.
#
# Example:
# user_id_1
# user_id_2
# another_user_id_here
